@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-site: #070f35;
    --background-container: #0f3a6a;
    --timer-tag: #4070a3;
    --text: #6b9658;
}

* {
    padding: 0px;
    margin: 0px,
}

body {
    background-color: var(--background-site);
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.cat {
    display: flex;
    background-color: var(--background-container);
    border-radius: 20px;
    justify-content: center;
    padding-top: 25px;
    margin-bottom: 50px;
}

.chat_container {
    display: flex;
    flex-direction: column;
}

.chat {
    background-color: var(--background-container);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.name {
    font-size: 20px;
    font-weight: 500;
}

.text {
    animation: blinkCursor 0.7s infinite;

}

.btn {
    border-radius: 15px;
    background-color: transparent;    
    border: 3px var(--background-site) solid;
    padding: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease; /* adiciona transição suave */
    cursor: pointer;
}

.btn:hover {
    background-color: var(--background-site);
    color: white;
    transform: scale(1.05); /* leve aumento no tamanho */
}

@keyframes blinkCursor {
  0% { border-color: black; }
  50% { border-color: transparent; }
  100% { border-color: black; }
}